.left { float:left; }
.right { float:right; }
.clear { clear:both; }
html { background-color:#ffffff; }
body { padding-top:60px; }
body .u_actions a { margin-right:10px; }
.ipn-header {
  background:#bbe4ff;
  padding:10px 10px 0;
  white-space:nowrap;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
}
.ipn-header div.left {
  position:absolute;
  text-indent:5px;
}
.ipn-header div.right {
  padding-top:0px;
  position:relative;
}
.ipn-header div.right h3, .ipn-header div.right h4 {
  padding-right:90px;
  position:relative;
  text-align:right;
  top:20px;
}
.form fieldset {
  background-color:#eef8ff;
  border:#a2d9ff 1px solid;
  padding:15px;
}
.form fieldset legend {
  background-color:#a2d9ff;
  padding:5px;
}
.form .input {
  clear:both;
  margin:10px;
}
.form .input label {
  font-size:16px;
  line-height:24px;
  padding:0px 10px;
  width:200px;
}
.form .input input, .form .input select {
  font-size:18px;
  height:auto;
  width:300px;
}
.form .btn, .form .actions a { margin:0px 10px; }
footer { background-color:#bbe4ff; }
