.left { float:left; }
.right { float:right !important; }
.clear { clear:both; }
.max-width {
  max-width:1400px;
  margin:auto;
}
html { background-color:#ffffff; }
body { padding-top:60px; }
body .u_actions a { margin-right:10px; }
a.success { color:#57a957; }
a.danger { color:#c43c35; }
#dashboard .nav { margin-bottom:0; }
#dashboard .breadcrumb {
  border-top:none;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  border-radius:0px;
}
#dashboard table tbody th { border-top:none; }
#dashboard table td, #dashboard table th {
  padding:8px 8px;
  vertical-align:middle;
}
#dashboard table.users td { line-height:20px; }
#dashboard table .tr-notes td {
  border-top:none;
  padding:0;
}
#dashboard table .selected-tr { background-color:#f8f8f8; }
.display h1 {
  font-family:Georgia, Arial;
  font-size:24px;
  font-style:italic;
  text-transform:capitalize;
}
.ipn-header {
  background:#bbe4ff;
  margin-bottom:18px;
  padding:0;
  white-space:nowrap;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
}
.ipn-header div.left {
  padding:15px 15px;
  position:absolute;
  text-indent:5px;
}
.ipn-header div.right {
  padding:5px 15px;
  position:relative;
  text-align:right;
}
.ipn-header div.right img { margin-top:5px; }
.ipn-header div.right h3, .ipn-header div.right h4 {
  padding-right:90px;
  position:relative;
  top:40px;
}
.nota.well { background-color:#ddffdd !important; }
form, .form { margin:0; }
form fieldset, .form fieldset { padding:10px; }
form fieldset legend, .form fieldset legend { padding:0px; }
form .input, .form .input {
  clear:both;
  margin:10px;
}
form .input label, .form .input label {
  font-size:16px;
  line-height:24px;
  padding:0px 10px;
  width:170px;
  text-align:right;
}
form .input input, form .input select, form .input textarea, .form .input input, .form .input select, .form .input textarea {
  font-size:16px;
  height:auto;
  width:300px;
}
form .input .error-message, .form .input .error-message {
  background-color:#f2dede;
  border-color:#eed3d3;
  color:#b94a48;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  display:inline-block;
  margin:0 5px 0 15px;
  padding:3px 15px;
  vertical-align:middle;
}
form .btn, form .form-actions a, .form .btn, .form .form-actions a { margin:0px 10px; }
form.in-table form, .form.in-table form { margin:0px; }
form.in-table fieldset, .form.in-table fieldset {
  border:none;
  background-color:transparent;
  display:inline-block;
  float:left;
  margin:0;
  padding:0;
}
form.in-table fieldset legend, .form.in-table fieldset legend {
  display:none;
  font-size:14px;
}
form.in-table .actions, .form.in-table .actions {
  background-color:transparent;
  float:right;
  margin-right:20px;
}
form.in-table .input, form.in-table .textarea, .form.in-table .input, .form.in-table .textarea { margin:0 5px; }
form.in-table .input input, form.in-table .input textarea, form.in-table .textarea input, form.in-table .textarea textarea, .form.in-table .input input, .form.in-table .input textarea, .form.in-table .textarea input, .form.in-table .textarea textarea {
  height:45px;
  max-height:50px;
  max-width:980px;
  width:100%;
}
form.in-table a, .form.in-table a { display:block; }
form.in-table .btn, .form.in-table .btn {
  display:inline-block;
  margin:5px 5px;
}
form.in-table label, .form.in-table label { display:none; }
.breadcrumb ul {
  display:inline-block;
  margin:0;
}
.dk_theme_main.dk_container {
  float:left;
  position:relative;
  font-family:'Helvetica', Arial, sans-serif;
  font-size:12px;
  font-weight:bold;
  line-height:14px;
  background-color:mix(#ffffff,#f0f0f0,60%);
  background-image:-moz-linear-gradient(top,#ffffff,#f0f0f0);
  background-image:-ms-linear-gradient(top,#ffffff,#f0f0f0);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#f0f0f0));
  background-image:-webkit-linear-gradient(top,#ffffff,#f0f0f0);
  background-image:-o-linear-gradient(top,#ffffff,#f0f0f0);
  background-image:linear-gradient(top,#ffffff,#f0f0f0);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);
}
.dk_theme_main.dk_container:focus { outline:0; }
.dk_theme_main.dk_container a {
  cursor:pointer;
  outline:0;
  text-decoration:none;
}
.dk_theme_main.dk_open {
  position:relative;
  z-index:10;
}
.dk_theme_main.dk_open .dk_options { display:block; }
.dk_theme_main.dk_open .dk_label { color:inherit; }
.dk_theme_main.dk_open .dk_toggle {
  background-color:#ececec;
  border-color:#8c8c8c;
  color:#cccccc;
  -webkit-box-shadow:inset 0 -2px 5px #cccccc;
  -moz-box-shadow:inset 0 -2px 5px #cccccc;
  box-shadow:inset 0 -2px 5px #cccccc;
}
.dk_theme_main .dk_toggle {
  background-repeat:no-repeat;
  background-position:90% center;
  border:1px solid #cccccc;
  color:#333333;
  display:-moz-inline-stack;
  display:inline-block;
  *display:inline;
  padding:7px 45px 7px 10px;
  position:relative;
  text-shadow:#ffffff 1px 1px 0;
  zoom:1;
}
.dk_theme_main .dk_toggle:hover { border-color:#8c8c8c; }
.dk_theme_main .dk_focus .dk_toggle {
  border-color:#40b5e2;
  -webkit-box-shadow:0 0 5px #40b5e2;
  -moz-box-shadow:0 0 5px #40b5e2;
  box-shadow:0 0 5px #40b5e2;
}
.dk_theme_main .dk_options {
  -webkit-box-shadow:rgba(0,0,0,0.5) 0 0 8px;
  -moz-box-shadow:rgba(0,0,0,0.5) 0 0 8px;
  box-shadow:rgba(0,0,0,0.5) 0 0 8px;
  display:none;
  margin-top:-1px;
  position:absolute;
  right:0;
  width:100%;
}
.dk_theme_main .dk_options a {
  background-color:#ffffff;
  border-bottom:1px solid #999999;
  border-top:1px solid transparent;
  font-weight:bold;
  padding:8px 10px;
}
.dk_theme_main .dk_options .dk_option_current a, .dk_theme_main .dk_options a:hover {
  background-color:mix(#008fd8,#0084c7,60%);
  background-image:-moz-linear-gradient(top,#008fd8,#0084c7);
  background-image:-ms-linear-gradient(top,#008fd8,#0084c7);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#008fd8),to(#0084c7));
  background-image:-webkit-linear-gradient(top,#008fd8,#0084c7);
  background-image:-o-linear-gradient(top,#008fd8,#0084c7);
  background-image:linear-gradient(top,#008fd8,#0084c7);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#008fd8', endColorstr='#0084c7', GradientType=0);
  border-bottom:1px solid #004c72;
  border-top:1px solid #61caff;
  color:#ffffff;
  text-decoration:none;
  text-shadow:rgba(0,0,0,0.2) 1px 2px 0;
}
.dk_theme_main .dk_options a, .dk_theme_main .dk_options a:link, .dk_theme_main .dk_options a:visited { display:block; }
.dk_theme_main .dk_options li:last-child a { border-bottom:none; }
.dk_theme_main .dk_options_inner {
  border:1px solid #8c8c8e;
  border-bottom-width:2px;
  border-bottom-color:#999999;
  color:#333333;
  margin:0;
  max-height:250px;
  overflow:auto;
  position:relative;
  text-shadow:#ffffff 0 1px 0;
}
.dk_theme_main .dk_options_inner, .dk_theme_main .dk_touch .dk_options { max-height:250px; }
.dk_theme_main .dk_touch .dk_options { overflow:hidden; }
.dk_theme_main .dk_touch .dk_options_inner {
  max-height:none;
  overflow:visible;
}
.dk_theme_main .dk_fouc select {
  position:relative;
  top:-99999em;
  visibility:hidden;
}
.email .input label {
  font-size:14px;
  text-align:left;
  width:100px;
}
.email .input input {
  font-size:14px;
  width:80%;
}
footer {
  background-color:#bbe4ff;
  bottom:5px;
  position:fixed;
  text-align:center;
  width:100%;
}
div.sql_alert {
  left:0;
  position:absolute;
  bottom:50px;
  margin:20px;
}
