@import 'mixins.less';

@red:  #C43C35;
@green: #57A957;
@bg-color: #fff;
@foot-color: #bbe4ff;
@top: 60px;


.left {
    float:left;
}
.right {
    float:right;
}
.clear {
    clear:both;
}

html {
    background-color: @bg-color;
}

body {
    padding-top: @top;
    .u_actions{
        a {
            margin-right:10px;
        }
    }
}

a {
    &.success {
        color: @green;
    }
    &.danger {
        color: @red;
    }
}

.ipn-header {
    background: darken(@foot-color, 0%);
    padding: 10px 10px 0;
    white-space: nowrap;
    .border-radius(6px);
    div.left {
        position:absolute;
        text-indent: 5px;
    }
    div.right {
        padding-top: 0px;
        position: relative;
        h3, h4 {
            padding-right: 90px;
            position: relative;
            text-align: right;
            top:20px;
        }
    }
}

.form {
    fieldset {
        background-color:#eef8ff;
        border:darken(#eef8ff,15) 1px solid;
        padding:15px;
        legend{
            background-color:darken(#eef8ff,15);
            padding:5px;
        }
    }
    .input {
        clear:both;
        margin: 10px;
        label {
            font-size: 16px;
            line-height:24px;
            padding:0px 10px;
            width:200px;
        }
        input, select{
            font-size: 18px;
            height:auto;
            width:300px;
        }
    }
    .btn, .actions a{
        margin:0px 10px;
    }
}

footer {
    background-color: @foot-color;
}
